// Mapa
.map-container {
  min-height: 200px;
  height: 100%;
  width: 100%;
  margin: 0px;
  position: relative;
  display: block;

  .angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ddd;
  }
}
