<ion-view view-title="Profile" cache-view="false"><!-- disable caching otherwise the view layout goes wierd when returning to it -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
        </button>
      </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <i class="button button-icon icon ion-edit" ng-click="edit()">
        </i>
    </ion-nav-buttons>
    <ion-content>

        <style>
            .myItem{
                display: inline-block !important;
                font-size: 0.8em;
                /*height: 100px;*/
                width: 70px; /* the parent div width is calculated from this width and height in an ng-style below */
                margin: 3px;
                text-align: center;
                text-decoration: none;
                text-shadow: none;
                text-align: center;
                vertical-align: top;
            }
            .myItem:first-child{
                margin-left: 10px;
            }

            .likeImg {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
            }
        </style>


        <ion-slide-box show-pager="true" does-continue="true">
            <ion-slide ng-repeat="photo in photos">
                <img ng-src="{{photo.url()}}" style="width:100%"/>
            </ion-slide>
            <ion-slide ng-if="!photos.length">
                <img src="img/generic_avatar.jpg" style="width:100%"/>
            </ion-slide>
        </ion-slide-box>

        <div style="padding: 10px">
            <b>{{profile.name}}, {{age}}</b>

            <div ng-show="profile.about">
                {{profile.about}}
            </div>

            <div ng-show="friends.length">
                <b>My Friends ({{friends.length}}{{friends.length==25 ? '+' : ''}})</b>
                <ion-scroll direction="x">
                    <div ng-style="{width:((70+6) * friends.length + 10)+'px'}">
                        <div class="myItem" ng-repeat="friend in friends track by $index">
                            <img class="likeImg" ng-src="http://graph.facebook.com/v2.2/{{friend.id}}/picture"/><br/>
                            {{friend.name}}
                        </div>
                    </div>
                </ion-scroll>
            </div>
            <div ng-show="likes.length">
                <b>My Interests ({{likes.length}}{{likes.length==25 ? '+' : ''}})</b>
                <ion-scroll direction="x">
                    <div ng-style="{width:((70+6) * likes.length + 10)+'px'}">
                        <div class="myItem" ng-repeat="like in likes track by $index">
                            <img class="likeImg" ng-src="http://graph.facebook.com/v2.2/{{like.id}}/picture"/><br/>
                            {{like.name}}
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
