<ion-modal-view>

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <i class="button button-icon icon ion-android-arrow-back" ng-click="vm.close()"></i>
        </div>
        <h1 class="title">{{vm.profile.name}}</h1>
        <div class="buttons">
            <i class="button button-icon icon ion-android-close" ng-click="vm.pass()"></i>
            <i class="button button-icon icon ion-ios-heart-outline" ng-click="vm.like()"></i>
        </div>
    </ion-header-bar>

    <ion-content>

        <ion-slide-box show-pager="true" does-continue="true">
            <ion-slide ng-repeat="photo in vm.profile.photos track by $index">
                <img ng-src="{{photo.url()}}" style="width:100%"/>
            </ion-slide>
            <ion-slide ng-if="!profile.photos.length">
                <img src="img/generic_avatar.jpg" style="width:100%"/>
            </ion-slide>
        </ion-slide-box>

        <div style="padding: 10px;">
            <b>{{vm.profile.name}}</b>, {{vm.profile.age}}<br/>
            <span style="color:gray">{{vm.profile.location | distance}} away <!-- TODO Active x hours ago --></span><br/>

            <div ng-show="vm.profile.about">
                {{vm.profile.about}}
            </div>
        </div>
    </ion-content>
</ion-modal-view>