<ion-view view-title="Profile setup" cache-view="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">We need a couple more details</h1>
    </ion-header-bar>
    <ion-content padding="true">

    <div class="list">
        <label class="item item-input">
            <span class="input-label">First name</span>
            <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Birth day*
            </div>

            <input type="number"
                   min="1"
                   max="31"
                   step="1"
                   ng-model="user.birthDay">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Birth month*
            </div>
            <select ng-model="user.birthMonth">
                <option ng-repeat="month in months" value="{{$index}}">{{month}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Birth year*
            </div>

            <input type="number"
                   min="{{yearFrom}}"
                   max="{{yearTo}}"
                   step="1"
                   ng-model="user.birthYear">
        </label>
        <!--
        <select ng-model="user.year">
                <option ng-repeat="year in years" value="year">{{year}}</option>
            </select>
        -->
        <div class="item item-divider">
            Gender: 
        </div>
        <ion-radio ng-model="user.gender" name="gender" ng-value="'M'">Male</ion-radio>
        <ion-radio ng-model="user.gender" name="gender" ng-value="'F'">Female</ion-radio>

    </div>
    <button class="button button-block button-positive" ng-click="saveProfile()">Save</button>
    <br/>
    <button class="button button-block" ng-click="logout()">Logout</button>

    </ion-content>
</ion-view>