<ion-view cache-view="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Terms of Use</h1>
    </ion-header-bar>
    <ion-content padding="true">
        <div style="text-align: center">
            <p>
                In using the App, you agree to conduct yourself in a civil and respectful manner.  You are responsible
                for all content and materials that you post.</p>
            <p>
                You agree not to upload or post any content or material that is unlawful, harassing, abusive,
                threatening, vulgar, racist, obscene, sexually explicit, promotes bigotry, hatred or harm to any group
                or individual, or otherwise objectionable.
            </p>
            <p>Violation of these terms may result in account suspension or cancellation</p>
        </div>

        <button class="button button-block button-positive" ng-click="agree()">Agree</button>

        <br/>

        <button class="button button-block" ng-click="logout()">Logout</button>

    </ion-content>
</ion-view>