<ion-view cache-view="false" class="photogram-profile">

  <ion-nav-title>
    <h1 class="title">{{ ::vm.user.name }}</h1>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-menu" ng-click="showMenu()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
<!--     <button photogram-settings class="button button-icon icon ion-gear-a"></button> -->
  </ion-nav-buttons>

  <ion-content class="animated fadeIn">

    <div class="profile-top">
      <div class="row">
        <div class="col-25">
          <img class="avatar" user-avatar ng-src="{{ ::currentUser.img._url || 'img/user.png' }}" />
        </div>
        <div class="col col-statics">
          <div class="row">
            <div class="col">
              <photogram-loading loading="loadingPhotos"></photogram-loading>
              <span ng-if="!loadingPhotos" class="text-center">{{ ::vm.user.qtdPhotos  }}</span>

              <h3 translate="PHOTOGRAM.PROFILE.TITLE.POST">Posts</h3>
            </div>
            <div class="col">
              <photogram-loading loading="loadingFollowers"></photogram-loading>
              <span ng-if="!loadingFollowers" class="text-center">{{ ::vm.user.qtdFollowers }}</span>

              <h3 translate="PHOTOGRAM.PROFILE.TITLE.FOLLOWER"></h3>
            </div>
            <div class="col">
              <photogram-loading loading="loadingFollowing"></photogram-loading>
              <span ng-if="!loadingFollowing" class="text-center">{{ ::vm.user.qtdFollowing  }}</span>

              <h3 translate="PHOTOGRAM.PROFILE.TITLE.FOLLOWING">Followings</h3>
            </div>
          </div>
          <div class="row col-edit">
            <div class="col">
              <button profile-modal-edit class="button ">
                                <div translate="PHOTOGRAM.BUTTON.PROFILE_EDIT"></div>
                            </button>
            </div>
          </div>
        </div>
      </div>
      <div class="padding">
        <span class="user-username">{{ ::currentUser.name }}</span>
        <p class="user-status">{{ ::currentUser.status }}</p>
      </div>

    </div>

    <div class="item bar">
      <div class="button-bar">
        <button class="button button-icon icon ion-drag" ng-class="{active: vm.tab.list}" ng-click="vm.changeTab('list')"></button>
        <button class="button button-icon icon ion-grid" ng-class="{active: vm.tab.grid}" ng-click="vm.changeTab('grid')"></button>
        <button class="button button-icon icon ion-ios-location"></button>

      </div>
    </div>

    <div class="item item-divider" translate="PHOTOGRAM.MSG.RECENT">Recent</div>

    <div class="center-ico animated fadeIn" ng-if="vm.empty">
      <i class="icon ion-camera"></i>
      <h1 translate="PHOTOGRAM.MSG.NO_POST">No Post</h1>
    </div>

    <photogram-loading loading="vm.loading"></photogram-loading>

    <div class="tab" ng-if="vm.tab.list">
      <photogram-photo-list photogram="vm.data" loading="vm.loading"></photogram-photo-list>
    </div>

    <div class="tab" ng-if="vm.tab.grid">
      <photogram-photo-grid photogram="vm.data" loading="vm.loading"></photogram-photo-grid>
    </div>

  </ion-content>
</ion-view>