@import "pallets";

$darkPrimaryColor: $blue-700;
$primaryColor: $blue-500;
$accentColor: $blue-500;
$lightPrimaryColor: $blue-100;

$primaryTextColor: #FFFFFF;
$textPrimaryColor: #212121;
$secondaryTextColor: #727272;
$dividerColor: #B6B6B6;